

.button {
  a{
    color:red;
  }
  // &を使って親セレクターを参照する
  &:hover{
    background: #fff;
  }
  &.md{
    margin-bottom: 10px;
  }
}

//クラスめいをネストする
.post{
  margin-bottom: 20px;
  &-title{
    font-size: 2rem;
  }
  &-date{
    color:#ccc;
  }
}